<html>
  <head>
    <title>Google OAuth2 Test</title>
  </head>
  <body>
    <h1>Google OAuth2 Test</h1>
    <button id="authorize-btn">Authorize</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script>
      // It's okay to put clientId here, it isn't a secret.
      const clientId = "795467457363-galo4soirvlgicinua34e70qh72lt8kr.apps.googleusercontent.com";
      const scopes = [ "email"];
      const authUrl = `https://accounts.google.com/o/oauth2/v2/auth?client_id=${clientId}&redirect_uri=http://localhost:3000/callback&response_type=code&scope=${scopes.join(
        ","
      )}`;
      document
        .getElementById("authorize-btn")
        .addEventListener("click", () => {          
            window.location = authUrl;
        });
    </script>
  </body>
</html>
